* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    font-size: 24px;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
}

.gridcontainer {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.header {
    background-color: #ffffff;
    grid-column: 2 / 7;
    grid-row: 1;
}

.header > div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#searchbar {
    width: 28rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background-color: #e1e8f0;
    border-style: none;
    padding-left: 1rem;
}








.sidebar {
    display: grid;
    grid-template-rows: 1rem 2rem 2rem 12rem 2rem 6rem;
    background-color: #1892d3;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}

.sidebar>div {
    margin: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    grid-row: 2;
    height: 1rem;
}


.sidebar ul {
    display: grid;
    margin-left: 1rem;
    grid-auto-rows: 2rem;
}

.sidebar ul>li {
    display: flex;
    gap: 1rem;
    
}

.first-sidebar-ul {
    grid-row: 4;
}

.second-sidebar-ul {
    grid-row: 6;
}

.content {
    background-color: #e1e8f0;
    grid-column: 2 / 7;
    grid-row: 2 / 6;
}